@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
header {
    background-color: #4C5B5C;
    display: grid;
    grid-template-columns: 280px auto;
}

.logo {
    padding-top: 10px;
    padding-left: 5px;
    width: 100%;
}
.logo_link {
    width: auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    font-family: 'Nunito';
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    color: #00CABD;
}

nav a:hover {
    background-color: #0F5753;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 50px;
}

.intro_title {
    grid-column: 3 / 6;
    grid-row: 1/2; 
    font-size: 50px;  
}
.intro {
    grid-column: 3 / 6;
    grid-row: 2/3;
    font-size: 25px;
}


#timeline {
    grid-column: 3 / 6;
    grid-row: 3 / 50;

}
#timeline1 {
    padding-top: 100px;
    width: 75%;
}
#timeline2 {
    width: 75%;
}
h1 {
    font-family: 'Nunito';
    color: #00CABD;
    padding-bottom: 30px;
}
h2 {
    font-family: 'Nunito';
    color: #00CABD;
}
p {
    font-family: 'Nunito';
    color: #4C5B5C;
}
.game_title {
    width: 70%;
}
.game_title {
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
.game_title:hover {
    transform: scale(1.05);
}


#mario {
    grid-column:  5 / 7;
    grid-row: 3 / 5;
}
#zelda {
    grid-column:  2 / 4;
    grid-row: 4 / 6;
}
#metroid {
    padding-top: 50px;
    grid-column:  5 / 7;
    grid-row: 5 / 7;
}
#kirby {
    grid-column:  2 / 4;
    grid-row: 6 / 8;
    padding-top: 60px;
}
#fox {
    padding-top: 50px;
    grid-column:  5 / 7;
    grid-row: 7 / 9;
}
#kong {
    padding-top: 50px;
    width: 90%;
    grid-column:  2 / 4;
    grid-row: 8 / 10;
}
#pokemon {
    padding-top: 50px;
    grid-column:  5 / 7;
    grid-row: 9 / 11;
}
#crossing {
    padding-top: 50px;
    width: 90%;
    grid-column:  2 / 4;
    grid-row: 10 / 12;
}
#wii {
    padding-top: 50px;
    grid-column:  5 / 7;
    grid-row: 11 / 13;
}
#xenoblade {
    padding-top: 100px;
    grid-column:  2 / 4;
    grid-row: 12 / 14;
}

footer {
    padding: 6px;
    background-color: #0F5753;
}
footer p {
    color: white;
}